.lab6__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lab6__container {
    width: 600px;
    height: 800px;
    background-color: #f8f8f8  ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.representation__container {
    flex-grow: 1;
    width: 70%;
}

.representation-line__container {
    display: flex;
    align-items: center;
    height: 30px;
}

.bounded-top {
    border-top: 1px solid black;
}

.stateless-operation__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.menu-actions__container {
    justify-content: flex-end;
}

.manipulations-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.value-field {
    margin-bottom: 10px;
}

.options__container {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.option {
    margin: 5px;
}

.submit-button {
    margin-top: 10px;
}