<div class="component__wrapper">
    <mat-tab-group mat-align-tabs="center" class="fill-height">
        <mat-tab label="Priority Queue">
            <app-priority-queue-manager class="fill-width fill-height" style="display: inline-block;">
            </app-priority-queue-manager>
        </mat-tab>
        <mat-tab label="Heap Sort">
            <div class="heap-sort-manager__wrapper">
                <div class="heap-sort-manager__container">
                    <app-heap-sort-manager class="fill-width fill-height" style="display: inline-block;">
                    </app-heap-sort-manager>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>