<div class="lab8__wrapper">
    <div class="controls__wrapper">
        <form [formGroup]="treeControlFormGroup" class="form" (ngSubmit)="performAction()">
            <mat-form-field appearance="fill">
                <mat-label>Item value</mat-label>
                <input type="text" formControlName="itemValue" matInput required
                    placeholder="Ex. 1"
                >
                <mat-error *ngIf="itemValue.invalid && itemValue.errors.required">Required field</mat-error>
                <mat-error *ngIf="itemValue.invalid && itemValue.errors.pattern">Must be a number</mat-error>
            </mat-form-field>

            <mat-radio-group formControlName="selectedRadio" class="options" color="primary">
                <mat-radio-button [value]="1" class="option">Insert</mat-radio-button>
                <mat-radio-button [value]="2" class="option">Delete</mat-radio-button>
                <mat-radio-button [value]="3" class="option">Find</mat-radio-button>
            </mat-radio-group> 

            <button mat-raised-button type="submit" color="primary"
                [disabled]="!treeControlFormGroup.valid"
                class="manipulations-card-actions-button"
            >
                Perform
            </button>
        </form>
        <button mat-raised-button color="primary" (click)="clearTree()">Clear</button>
    </div>
    <div class="canvas__container">
        <canvas #canvas class="fill-height fill-width"></canvas>
        <!-- <div [hidden]="!isTreeEmpty" class="empty-tree-message__container mat-display-3">Empty tree</div> -->
    </div>
</div>