.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

span {
    margin-left: 1rem;
}

.app-toolbar {
    position: fixed;
    z-index: 998;
}

.mat-sidenav-container {
    flex: 1;
}

/* .mat-sidenav-content {
    position: relative;
} */

:host /deep/ .mat-sidenav {
    margin-top: 64px;
    width: 200px
}